@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0A192F;
  color: #fff;
}

.bold-text {
  font-family: var(--font-bold);
}


@theme {
  --color-blue: #00C6FF;
  --color-yellow: #FFD166;
  --color-dblue: #1F6193;
  --color-bg: #0A192F;
}

button {
  cursor: pointer !important;
}

.aurora-container {
  width: 100%;
  height: 100%;
}

.aurora-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}