@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0A192F;
  color: #fff;
}

.bold-text {
  font-family: var(--font-bold);
}


@theme {
  --color-blue: #00C6FF;
  --color-yellow: #FFD166;
}

.bg {
  background-image: url(../public/images/hero-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}